* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    /* visibility: hidden; */
}

.container {
    background-color: rgb(177, 117, 250);
    color: white;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.ctn-area {
    margin: 0 10vh;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(74, 74, 251);
    text-align: center;
}

.ctn-area p {
    margin: 20px 20vh;
}

.container #btn {
    background-color: rgb(115, 255, 108);
    /* width: 100px;
    height: 50px; */
    padding: 10px 25px;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
}